.artists_container{
    display: flex;
    /* background-color: rgb(0, 0, 0); */
    direction: row;
    width: 90%;
    overflow-x:scroll;
    height: 200px;

}
.artists_container::-webkit-scrollbar{
    display: none;
}
.single_artist_container{
    padding: 0px;
    /* background-color: bisque; */
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: ease-out 1.6s;
    transform: scale(1.0);

}
.single_artist_container:hover{
    transform: scale(1.05);
    filter: drop-shadow(1mm 2mm 2mm rgba(221, 120, 4));
    transition: ease-in .1s
    

}

.single_artist_container img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 60%;
    margin-top: 0x;
    position:relative;
    /* filter: drop-shadow(2mm 2mm 2mm rgb(255, 255, 255)) */
}

.single_artist_container p {

    /* background-color: rgb(41, 75, 75); */
    width: 90px;
    text-align: center;
    padding: 10px 0px 0px 0px;
    font-weight: bold;

}