.sidebarOption{
    display: flex;
    color:rgb(202, 202, 202);
    height: 40px;
    cursor:pointer;
    transition: 50ms color ease-in;
}

.sidebar hr {
    border: 1px solid #282828;
    width: 100%;
    margin: 10px auto;
}
.sidebarOption:hover{
    color: rgb(248, 132, 0);
}

.sidebar_icon{
    padding-right: 10px;
    padding-left: 10px;
}

.sidebarOption p{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 14px;
}

.sidebarOption_selected {
    display: flex;
    color:rgb(202, 202, 202);
    height: 40px;
    cursor:pointer;
    color : rgb(246, 167, 76)
}
